

nav {

  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* keep it above other elements */
  border-bottom: 2px solid #A31D1D;

}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: auto;
  gap: 20px;

}

.nav-link {
  color: inherit;
}
.nav-link:hover {
  color: inherit;
  border-bottom: 2px solid #A31D1D;
}
