@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #A31D1D;
  background-color: #F8F2DE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color:#A31D1D
}

body {
  width: 63%;
  margin: auto;
  text-align: justify;
}

section {
  margin-bottom:100px;;
}

footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #A31D1D;
  padding-top: 50px;;
}


@media (max-width: 768px) {
body {
  width: 100%;
}

}
